/************************************************************/
/* ---------------------- BASICS -------------------------- */
/************************************************************/
html {
  border: 0px;
  font-family: "Share Tech", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 8px 8px 10px #0000008c;
  background: radial-gradient(ellipse, #2c3f55 0%, #090a0f 100%);
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  margin: 0;
}

div {
  text-align: center;
}

.title {
  font-size: 50px;
  text-shadow: 4px 4px 4px #413f3f8c;
}

/************************************************************/
/* ------------------------ BUTTONS ----------------------- */
/************************************************************/
.buttonStart {
  background: rgb(196, 216, 253);
  border-radius: 16px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  height: 120px;
  outline: 0;
  overflow-wrap: break-word;
  padding: 0 11px;
  text-align: center;
  text-shadow: 8px 8px 8px #0f20468c;
  margin-top: 20px;
  width: 30%;
  min-height: 60px;
}

.buttonStart:active {
  border-bottom-color: #a2a6ac;
}

.buttonStart:active:hover {
  border-bottom-color: #a2a6ac;
}

.buttonStart:hover {
  border-color: #a2a6ac #979aa1 #82858a;
  box-shadow: rgba(173, 180, 196, 0.5) 0 0 30px 2px;
}

.buttonStart:focus {
  border-color: #548bac;
  box-shadow: rgba(173, 180, 196, 0.5) 0 0 30px 2px;
  outline: 0;
}

.buttonFn {
  background: rgb(196, 216, 253);
  border-radius: 16px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  height: 60px;
  outline: 0;
  overflow-wrap: break-word;
  padding: 0 11px;
  text-align: center;
  text-shadow: 4px 4px 4px #413f3f8c;
  margin-top: 20px;
  width: 100%;
  min-height: 60px;
}

.buttonFn #btnStartGame {
  width: 120px;
}
.buttonFn:active {
  border-bottom-color: #a2a6ac;
}

.buttonFn:active:hover {
  border-bottom-color: #a2a6ac;
}

.buttonFn:hover {
  border-color: #a2a6ac #979aa1 #82858a;
  box-shadow: rgba(173, 180, 196, 0.5) 0 0 30px 2px;
}

.buttonFn:focus {
  border-color: #548bac;
  box-shadow: rgba(173, 180, 196, 0.5) 0 0 30px 2px;
  outline: 0;
}

/************************************************************/
/* ------------------ HEADER & FOOTER --------------------- */
/************************************************************/
header {
  background: linear-gradient(#091c38, #28383a);
  padding: 20px;
  text-align: center;
  color: white;
  box-shadow: rgba(15, 109, 109, 0.5) 0 0 50px 16px;
  border: none;
  margin-bottom: 20px;
}

.headerTitle {
  width: 50%;
}

/* -------------------------------------------------------- */
footer {
  background-color: rgb(49, 48, 48);
  color: rgb(204, 204, 204);
  text-align: center;
  padding: 25px;
  margin-top: 100px;
  width: 100%;
  bottom: 0;
  box-shadow: rgba(15, 109, 109, 0.5) 0 0 30px 10px;
  background: linear-gradient(#28383a, #091c38);
}

.subject {
  font-size: 20px;
  padding-bottom: 12px;
}

.team {
  font-size: 12px;
  margin: 20px;
}

#github {
  width: 60px;
  padding: 30px;
  color: rgb(112, 200, 250);
}

/************************************************************/
/* ------------------------ GAME -------------------------- */
/************************************************************/

.containerGame {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gameSummary {
  font-size: 22px;
  text-shadow: 4px 4px 4px #413f3f8c;
  padding: 20px 10% 20px 10%;
}
/* -------------------------------------------------------- */
.roulette {
  width: 15%;
  margin: 10px;
}

.bigNumberDisplay {
  font-size: 5em;
  color: white;
  padding: 30px;
}

/* -------------------------------------------------------- */
.numbersTable {
  font-size: 2.5em;
}

table {
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(11, 78, 78, 0.5) 0 0 10px 6px;
}

table,
tr,
td {
  border-collapse: separate;
  border: solid 0px rgb(27, 11, 11);
  border-spacing: 0.2em;
  box-shadow: rgba(11, 78, 78, 0.5) 0 0 60px 10px;
  border-radius: 20px;
}

tr {
  border-radius: 50px;
}

td {
  min-width: 100px;
  height: 100px;
  color: #fff;
  border-radius: 20px;
  background: linear-gradient(#454549, #74807e);
}

td.selected {
  color: rgb(43, 85, 68);
  text-decoration: line-through;
  background: linear-gradient(#6664e6, #1cc5af);
}

/************************************************************/
/* ---------------------- GAME INFO ----------------------- */
/************************************************************/
.summaryInfo {
  text-align: center;
  vertical-align: middle;

  padding-bottom: 40px;
  box-shadow: rgba(11, 78, 78, 0.5) 0 10px 6px;
  margin-bottom: 60px;
}
.gameInfo {
  text-align: center;
  vertical-align: middle;
}

.gameSummary {
  margin: 20px;
}

.infoTitle {
  font-size: 40px;
  margin: 50px 0 50px;
}

.rowTable {
  margin-bottom: 30px;
  border-bottom: 1px solid;
}
.columnTable {
  color: rgb(185, 184, 184);
  text-align: left;
  font-size: 30px;
}
.column2Table {
  color: rgb(233, 231, 231);
  text-align: right;
  font-size: 40px;
}

/*----------------------------------------------------------------*/
