/************************************************************/
/* ---------------------- BASICS -------------------------- */
/************************************************************/
html {
  border: 0px;
  font-family: "Share Tech", sans-serif;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

header {
  width: 100%;;
}

body {
  margin: 0;
}

.separator {
  border-style: outset;
  border-top: 1px solid rgb(49, 48, 48);
  margin-top: 40px;
}

h1 {
  padding-top: 20px;
}

div {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 12px;
}

input {
  height: 56px;
  border-radius: 16px;
  width: 40%;
  border:1px solid rgba(174, 178, 184, 0.651);
  margin-right: 20px;
}

.displayString {
  padding: 10px;
  font-size: 24px;
  color:#5a6869;
  width: 40%;
}

.displayResult {
  padding: 10px;
  font-size: 24px;
  color:#5a6869;
}



.bigNumberDisplay {
  font-size: 5em;
  color:#5a6869;
  padding-top: 30px;
}

/************************************************************/
/* ------------------------ BUTTONS ----------------------- */
/************************************************************/
.buttonFn {
  background: rgb(196, 216, 253);
  border-radius: 16px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 24px;
  height: 40px;
  outline: 0;
  overflow-wrap: break-word;
  text-align: center;
  width: 40%;
  min-height: 60px;
  border: 0;
}

#btnName {
  width: 74px;
}

.buttonFn:active {
  border-bottom-color: #a2a6ac;
}

.buttonFn:active:hover {
  border-bottom-color: #a2a6ac;
}

.buttonFn:hover {
  border-color: #a2a6ac #979aa1 #82858a;
  box-shadow: rgba(173, 180, 196, 0.5) 0 0 30px 2px;
}

.buttonFn:focus {
  border-color: #548bac;
  box-shadow: rgba(173, 180, 196, 0.5) 0 0 30px 2px;
  outline: 0;
}

/************************************************************/
/* ------------------ HEADER & FOOTER --------------------- */
/************************************************************/
header {
  background: linear-gradient(#091c38, #28383a);
  padding: 20px;
  text-align: center;
  color: white;
  box-shadow: rgba(15, 109, 109, 0.5) 0 0 50px 16px;
  border: none;
  font-size: 40px;
}

/* -------------------------------------------------------- */
footer {
  background-color: rgb(49, 48, 48);
  color: rgb(10, 10, 10);
  text-align: center;
  padding: 25px;
  margin-top: 100px;
  width: 100%;
  bottom: 0;
  background: linear-gradient(#d7e2e4, #9eabbe);
}

.subject {
  font-size: 20px;
  padding-bottom: 12px;
}

.team {
  font-size: 12px;
  margin: 20px;
}

#github {
  width: 60px;
  padding: 30px;
  color: rgb(112, 200, 250);
}


/*----------------------------------------------------------------*/
